@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Manrope";
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgba(0, 0, 0, 0.623);
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: rgba(0, 0, 0, 0.623);
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: rgba(0, 0, 0, 0.623);
}

/* width */
::-webkit-scrollbar {
  width: 5px;
  overflow: hidden;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  overflow: hidden;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  overflow: hidden;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
  overflow: hidden;
}

body {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-image: radial-gradient( circle 976px at 51.2% 51%,  rgba(11,27,103,1) 0%, rgba(16,66,157,1) 0%, rgba(11,27,103,1) 17.3%, rgba(11,27,103,1) 58.8%, rgba(11,27,103,1) 71.4%, rgba(16,66,157,1) 100.2%, rgba(187,187,187,1) 100.2% );
}
h1 {
  display: flex;
  justify-content: center;
  color: white;
  margin: 15px 0;
}
h4 {
  padding-top: 10px;
  color: white;
  margin-bottom: 10px;
}
#main {
  height: 100;
  margin:0  10px;
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(78, 78, 78, 0.37);
  backdrop-filter: blur(10px);
  border-radius: 10px;
  padding: 0 15px;
  margin-top: 10px;
}
#in {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

#radio {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 40px;
}

input {
  border: none;
  margin: 4px 0;
  background-color: #ffffffc2;
  padding: 10px 15px;
  border: none;
  outline: none;
  font-weight: 700;
}
#a {
  padding: 4px;
}
#b {
  padding: 4px;
}
#button {
margin: 15px 0;
  .btn{
    padding: 5px 0;
    width:100%;
    cursor:pointer;
    }
}

